*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h6{
    font-size: 12px;
}
.space{
    padding: 70px 0;
}
p{
    line-height: 28px;
    font-size: 16px;
}
/* header  */
.icon{
    background: transparent !important;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9;
}
header nav ul li a{
    position: relative;
    transition: all 0.2s linear;
}
header nav ul li a:hover{
    color: white !important;
}
header h2 a{
    transition: all 0.2s linear;
}
header h2:hover a{
    color: black !important;
}
header nav ul li a::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 40px;
    background-color:white;
    z-index: 9;
    top: 35px;
    left: 10px;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);
}
header nav ul li a:hover::after{
    visibility: visible;
    transform: scaleX(1);
}
/* banner  */
.banner-after{
    height: 800px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
}
.banner-after::after{
    position: absolute;
    top: -150px;
    left: -200px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    content: '';
    background: #fff;
    z-index: -1;
    opacity: .05;
}
.banner-after::before{
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 40%;
    height: 180px;
    content: '';
    background: #000000;
    z-index: -1;
    opacity: .05;
    border-radius: 0 50% 50% 0;
}

.banner-item{
    margin-top: 170px;
}
.banner-img{
    margin-top: 20px;
}
.banner-social {
    position: absolute;
    margin-top: 150px;
}
.banner-button{
    border-radius: 50px 50px 50px 0 !important;
    background-color: #1fb6fc;
    transition: all 0.2s linear;
}
.banner-button:hover{
    border-radius: 0 50px 50px 50px !important;
    background-color: #1fb6fc;
}
.banner-button2{
    border-radius: 50px 50px 50px 0 !important;
    background-color: #bc6ff1;
    transition: all 0.2s linear;
    font-size: 10px;
}
.banner-button2:hover{
    border-radius: 0 50px 50px 50px !important;
    background-color: #bc6ff1;
}
.banner-social ul li a{
    position: relative;
    text-align: center;
    z-index: 9;
}
.banner-social ul li a::after{
    content: '';
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #0dcaf0;
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: -6px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s linear;
}
.banner-social ul li a:hover::after{
    opacity: 1;
}
/* service */
.service-item:hover{
    background-color: #1fb6fc !important;
    position: relative;
    z-index: 9;
    transition: all 0.2s ease-in-out;
}
.service-item::after{
    transform: rotate(-130deg) !important;
    content: '';
    width: 215px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -124px;
    left: 37px;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.service-item:hover::after{
    bottom: -42%;
    opacity: 1;
}
.service-button{
    border-radius: 50px 50px 50px 0;
    background-color: #bc6ff1;
    transition: all 0.2s linear;
}
.service-button:hover{
    border-radius: 0 50px 50px 50px ;
    background-color: #bc6ff1;
}
/* why */
.why-item:hover{
    background-color: #1fb6fc !important;
    position: relative;
    z-index: 9;
    transition: all 0.2s ease-in-out;
}
.why-item::after{
    transform: rotate(-130deg) !important;
    content: '';
    width: 215px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -124px;
    left: 37px;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.why-item:hover::after{
    bottom: -27%;
    opacity: 1;
}
.pera-item p{
    padding: 150px 0 50px 0;
}
.why{
    position: relative;
    z-index: 9;
}
.pera{
    position: absolute;
    top: 520px;
    width: 100%;
    z-index: -1;
}
/* news . */

::placeholder{
    color: white !important;
}
.subscribe-form{
    width: 100%;
}
/* footer  */
.f-content span{
    color: #a4a3b5 !important;
    font-size: 11px;
}
.f-menu a{
    text-decoration: none !important;
    padding: 4px 0 !important;
}
.f-content{
    font-size: 16px;
    color: #88879e !important;
}
.icons{
    border: 1px solid #1fb6fc;
    padding:  9px;
    border-radius: 3px;
}
.qustion-content{
    font-size: 14px;
}
.qustion-text p{
    font-size: 14px !important;
}
footer .heading{
    color: #2a3a60 !important;
}
.f-menu ul li a{
    transition: all 0.2s linear;
}
.f-menu ul li:hover i {
    color: #1fb6fc !important;
}
.f-menu ul li:hover a{
    color: #1fb6fc !important;
}

.copyline{
    background: linear-gradient(45deg ,rgb(0 0 255 / 73%)  ,rgb(128 0 128 / 70%));
}